html,
body {
	margin:0;
	padding:0;
	height:100%;
	background-color: #1e488c;
	font-family: 'Playfair Display', serif;
}
#navspacer {
    padding-top: 10vh;
}
.navbar {
	font-family: 'Playfair Display', serif;
	max-width:100%;
	height: 10vh;
    background-color: #1e488c;
}

.navbar-brand {
	font-family: 'Great Vibes', cursive;
	font-size: 5vh;
    letter-spacing: 0.2vw;
    color: white;
	padding: 0;
}
.navbar-brand:hover {
	color: white;
}

.nav-link {
	color: white;
	padding: 0;
}
.nav-link:hover {
	color: #4EC5C1;
}
.darken {
	display: table;
    table-layout: fixed;
	border-radius: 0;
	min-height: 90vh;
	width: 100%;
	height:auto;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('/static/images/pine_background.jpg');
	background-size: cover;
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: white;
	margin: 0;
	padding: 10vh;
}
.splashtext {
	font-size: 3vw;
	color: white;
}
.splashtext2 {
	font-size: 3vw;
	color: white;
}
.splashtext3 {
	font-size: 5vw;
	color: white;
}
#island {
	height: 15vh;
	width: auto;
	padding-bottom: 3vh;
	margin: 0;
}
#splashbrand {
	color: white;
	font-family: 'Great Vibes', cursive;
	font-size: 6vw;
	margin-left: 1vw;
}
#content {
	min-height: 90vh;
   /*padding-bottom: 10vh;   !* Height of the footer *!*/
	 padding-top: 0; /* Height of navbar */
}

#rentals {
	color: black;
	background-color: white;
	border-radius: 5px;
	margin-top: 5vh;
	padding-top: 3vh;
}

.footer-basic-centered{
	background-color: #1e488c;
	width: 100%;
	min-height: 10vh;
	text-align: center;
	padding: 0;
}

.footer-basic-centered .footer-company-name{
	color:  white;
	font-size: 3vh;
	font-family: 'Playfair Display', serif;
	margin: 0;
	padding: 2vh;
}


@media (max-width: 600px) {

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}
	.splashtext {
	font-size: 3vw;
	color: white;
	}
	.splashtext2 {
		font-size: 5vw;
		color: white;
	}
	#island {
		height: 15vh;
		width: auto;
		padding-bottom: 3vh;
		margin: 0;
	}
	#splashbrand {
		display: block;
		margin-top: 5vh;
		font-size: 6vw;
}
}


#map {
	/*width: 600px;*/
}