html,
body {
	margin:0;
	padding:0;
	height:100%;
	background-color: #BDF9F9;
	font-family: 'Playfair Display', serif;
	/*background: url("/static/images/textures/paper-texture.jpg") no-repeat fixed;*/
	/*background-size: cover;*/
}
/*#navspacer {*/
    /*padding-top: 10vh;*/
/*}*/
.navbar {
	font-family: 'Playfair Display', serif;
	max-width:100%;
	height: 10vh;
	background-color: #257CAA;
    /*background-color: #47788C;*/
}

.navbar-brand {
	font-family: 'Great Vibes', cursive;
	font-size: 5vh;
    letter-spacing: 0.3vw;
    color: white;
	padding-top: 1vh;
	/*text-shadow: 0.1vh 0.1vh 0.1vh black;*/
}
.navbar-brand:hover {
	color: white;
}

.nav-link {
	color: white;
	padding: 0;
	/*text-shadow: 0.1vh 0.1vh 0.1vh black;*/
}
.nav-link:hover {
	color: #3e444c;
}

.darken {
	display: table;
    table-layout: fixed;
	border-radius: 0;
	min-height: 80vh;
	max-height: 100vh;
	width: 100%;
	height:auto;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('/static/images/textures/wood-texture.jpg');
	background-size: cover;
	    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: white;
	margin: 0;
	padding: 20vh;
}
.splashtext {
	font-size: 3vw;
	color: white;
	text-shadow: 0.2vh 0.2vh 0.2vh black;
}
.splashtext2 {
	font-size: 3vw;
	color: white;
	text-shadow: 0.2vh 0.2vh 0.2vh black;
}
.splashtext3 {
	font-size: 4vw;
	color: white;
	text-shadow: 0.2vh 0.2vh 0.2vh black;
}
#island {
	height: 22vh;
	width: auto;
	padding-bottom: 3vh;
	margin-top: 6vh;
	margin-bottom: 6vh;
}
#splashbrand {
	color: white;
	font-family: 'Great Vibes', cursive;
	font-size: 5vw;
	margin-left: 1vw;
	text-shadow: 0.2vw 0.2vw 0.2vw black;
	-webkit-font-smoothing: subpixel-antialiased; /* or antialiased; */
}
#content {
	min-height: 90vh;
   /*padding-bottom: 10vh;   !* Height of the footer *!*/
	 padding-top: 0; /* Height of navbar */
}

#rentals {
	background-color: transparent;
	border-radius: 5px;
	margin-top: 5vh;
	padding-top: 3vh;

}
#seadoo {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
}
.footer-basic-centered{
	background-color: #257CAA;
	width: 100%;
	min-height: 6vh;
	text-align: center;
	padding: 0;
}

.footer-basic-centered .footer-company-name{
	color:  white;
	font-size: 3vh;
	font-family: 'Playfair Display', serif;
	margin: 0;
	padding: 0;
}


@media (max-width: 600px) {

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}
}


#map {
	/*width: 600px;*/
}