<!DOCTYPE html>
<html lang="en">

		{% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="{% static 'iho/css/bootstrap.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'iho/css/styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400" rel="stylesheet">

	{% block css %}{% endblock %}
  </head>

<body>
    <!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand">
        Island Home Outfitters
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span id="toggler" class="fa fa-phone fa-border"></span>
    </button>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-inverse p-4">
                <p style="text-aligh: center;">Hours</p>
            <div style="text-align: right; font-size: 6vh">
                <p>Monday - Friday: 10 AM - 6 PM</p>
                <p>Saturdays: 10 AM - 6 PM</p>
            </div>
            <div style="text-align: right;">
                <span class="fa fa-phone">  705-377-4433</span> <br>
                <span class="fa fa-envelope">  islandhomeoutfitters@outlook.com</span> <br>
                 <span class="fa fa-map-marker">  6130 King St. Mindemoya, Ont.</span>
            </div>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {{ home_active }}">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
{#        <li class="nav-item {{ about_active }}">#}
{#          <a class="nav-link" href="{% url 'about' %}">Furniture</a>#}
{#        </li>#}
        <li class="nav-item {{ contact_active }}">
          <a class="nav-link" href="{% url 'contact' %}">Contact & Location</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="content">
    {% block content %}{% endblock %}
</div>
    <!-- Footer -->
<div id="footer">
    <footer class="py-4">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Island Home Outfitters 2018</p>
      </div>
      <!-- /.container -->
    </footer>
</div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'iho/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'iho/js/bootstrap.bundle.min.js' %}"></script>
</div>
  </body>

</html>
